# Ignorar la carpeta de módulos de Node.js
node_modules/

# Ignorar los archivos de lock de dependencias
package-lock.json
yarn.lock

# Ignorar archivos de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignorar archivos de directorios de construcción y de salida
dist/
build/

# Ignorar archivos de log y de errores
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar archivos de configuración de editores
.vscode/
.idea/

# Ignorar el archivo de configuración de MacOS
.DS_Store

# Ignorar la carpeta de configuración de npm global en MacOS
.npm/

# Ignorar la carpeta de configuración de ESLint global en MacOS
.eslintcache

# Ignorar archivos de sistemas operativos
Thumbs.db